.ant-btn {
  margin-right: 10px;
}
.ant-card {
  height: 400px;
}

.img_card {
  width: 240px;
  height: 300px;
}

.btn_layout_header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 60px;
}

.btn_layout_header .ant-btn {
  width: 100px;
}
