.btn_card_product {
  width: 100px;
  height: 20px;
  /* float: right; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.btn_card_product .ant-btn {
  height: 28px;
  /* background-color: #ccc; */
}

.btn_layout_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_add .ant-modal-footer {
  display: none;
}

.ant-modal-content {
  border-radius: 30px;
}

.ant-modal-header {
  border-radius: 30px;
}
