.ant-form {
  padding-right: 600px;
}

.ant-form-item {
  margin-right: 100px;
}
.btn_f {
  width: 120px;
  height: 60px;
  color: black;
  background-color: #ccc;
}
.btn_form_add {
  margin-top: 40px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
